html, body{
    margin:0;
    padding:0
}
.clearfix:after{
    content:'.';
    display:block;
    height: 0;
    visibility: hidden;
    clear:both
}

.banner{
    background: url('img/banner_bg.jpg') no-repeat;
    width:100%;
    height:750px;
    background-size:contain 
}
.about{
    background-color:#fff;
}
.counter{
    margin:110px auto;
}


.container{
    padding:38px 0;
    width:1200px;
    height:inherit;
    margin:0 auto;
}
.banner .container #logo{
    background: url('img/logo.png') no-repeat;
    height:23px;
    width:86px;
    float:left;
}
.banner .container nav ul{
    margin:0;
    padding:0;
    float:right;
}
.banner .container nav li a{
    color:#fff;
    font-size: 14px;
    text-decoration: none;
}
.banner .container nav li{
    list-style:none;
    float:left;
    margin-right:50px;
    font-family: 'Montserrat', sans-serif;
}
.banner .container nav li:last-child{
    margin-right:0
}
.banner .container nav li a:hover{
    color:#fce38a;
    padding-bottom:10px;
    border-bottom:2px solid #fce38a
}
.banner .container h2{
    color:#fff;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size:72px;
    margin-bottom: 30px;
}
.banner .container h1{
    color:#fff;
    width: 67%;
    margin: 0 auto;
    text-align: center;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:150px;
    line-height:.9
}
.banner .container .line_w{
    width:60px;
    height:3px;
    background-color:#fff;
    margin:70px auto;
}
.banner .container .btn{
    border:4px solid #fff;
    text-transform: uppercase;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    padding:10px 29px;
    margin:0 auto;
    width:108px;
    cursor:pointer
}

.about .container h2{
    color:#333;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size:24px;
}
.about .container h1{
    color:#333;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size:30px
}
.about .container .line_r{
    width:60px;
    height:3px;
    background-color:#f38181;
    margin:70px auto;
}
.about .container p{
    text-align: center;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    color:#999;
}
.about .container .about_imgs{
    margin:100px auto 0 auto;
    width:98%;
}
.about .container img{
    width:360px;
    float:left;
    transition:.2s;
    position:relative;top:0px;
    left:0px;
}
.about .container img:last-chid{
    margin-right: 0
}
.about .container .about_imgs .about_img{
    display:inline-block;
    background-color:#95e1d3;
    margin:0 10px
}
.about .container .about_img img:hover{
    top:-10px;
    left:-10px;
    transition:.2s
}
.counter{
    background-color:#95e1d3
}
.counter .container .count{
    color:#fff;
    float:left;
    margin:0 50px;
}
.counter .container .count p{
    margin:0;
    padding:0;
    text-align: center;
    font-family:'Montserrat', sans-serif;
}
.counter .container .count .num{
    font-size:72px;
    font-weight: 700
}
.counter .container .count .word{
    font-size:14px;
    text-transform: uppercase
}