@color-blue: #95e1d3;
@color-text: #999;

html, body{
    margin:0;
    padding:0
}
.clearfix:after{
    content:'.';
    display:block;
    height: 0;
    visibility: hidden;
    clear:both
}
.container{
    padding:38px 0;
    width:1200px;
    height:inherit;
    margin:0 auto;
    position:relative;
} 
.line_r{
    width:60px;
    height:3px;
    background-color:#f38181;
    margin:40px auto;
}
.line_w{
    width:60px;
    height:3px;
    background-color:#fff;
    margin:70px auto;
}




.banner{
    background: url('img/banner_bg.jpg') no-repeat;
    width:100%;
    height:750px;
    #logo{
        background: url('img/logo.png') no-repeat;
        height:23px;
        width:86px;
        float:left;
    }
    nav ul{
        margin:0;
        padding:0;
        float:right;
        li{
            list-style:none;
            float:left;
            margin-right:50px;
            font-family: 'Montserrat', sans-serif;
            &:last-child{
                margin-right:0
            }
            a{
                color:#fff;
                font-size: 14px;
                text-decoration: none;
                &:hover{
                    color:#fce38a;
                    padding-bottom:10px;
                    border-bottom:2px solid #fce38a
                }
            }
        }
    }
    h2{
        color:#fff;
        font-family: 'Kaushan Script', cursive;
        text-align: center;
        font-size:72px;
        margin-bottom: 30px;
    }
    h1{
        color:#fff;
        width: 67%;
        margin: 0 auto;
        text-align: center;
        text-transform:uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight:700;
        font-size:150px;
        line-height:.9;
    }
    .btn{
        border:4px solid #fff;
        text-transform: uppercase;
        color:#fff;
        font-family: 'Montserrat', sans-serif;
        font-weight:700;
        padding:10px 29px;
        margin:0 auto;
        width:108px;
        cursor:pointer;
        transition:.2s;
        &:hover{
            background-color:rgba(255,255,255,.1);    
            transition:.2s;
        }
    }
}
.about{
    background-color:#fff;
    h2{
        color:#333;
        font-family: 'Kaushan Script', cursive;
        text-align: center;
        font-size:24px;
    }
    h1{
        color:#333;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size:30px;
        text-transform: uppercase
    }
    p{
        text-align: center;
        font-size:15px;
        font-family: 'Roboto', sans-serif;
        color:@color-text;
    }
    .about_imgs{
        margin:100px auto 0 auto;
        width:98%;
    }
    img{
        width:360px;
        float:left;
        transition:.2s;
        position:relative;top:0px;
        left:0px;
        &:last-chid{
            margin-right: 0
        }
        &:hover{
            top:-10px;
            left:-10px;
            transition:.2s
        }
    }
    .about_img{
        display:inline-block;
        background-color:@color-blue;
        margin:0 10px;
    }
}

.counter{
    margin:55px auto 0 auto;
    background-color:@color-blue;
    .count{
        color:#fff;
        float:left;
        margin:0 55px;
        p{
            margin:0;
            padding:0;
            text-align: center;
            font-family:'Montserrat', sans-serif;
        }
        .num{
            font-size:72px;
            font-weight: 700
        }
        .word{
            font-size:14px;
            text-transform: uppercase
        }
    }
}

.services{
    background-color:#fff;
    h1{
        color:#333;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size:30px;
        margin-bottom: 30px;
        text-transform: uppercase
    }
    h2{
        color:#333;
        font-family: 'Kaushan Script', cursive;
        text-align: center;
        font-size:24px
    }
    .service_block{
        width:329px;
        height:68px;
        float:left;
        margin-left:55px;
        margin-bottom:100px;
        h4{
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-size:14px;
            color:#333;
            margin-top:0;
        }
        p{
            color:@color-text;
            font-family: 'Roboto', sans-serif;
            font-size:15px;
        }
        .content{
            float:left;
            width:270px;
        }
        .icon{
            float:left;
            background:url(img/icons_service.png) no-repeat;
            margin-right:20px;
            width:32px;
            height:32px;
        }
        &:nth-of-type(2) .icon{
                background-position: -38px 0
        }
        &:nth-of-type(3) .icon{
                background-position: -76px 0
        }
        &:nth-of-type(4) .icon{
                background-position: -112px 0
        }
        &:nth-of-type(5) .icon{
                background-position: -149px 0
        }
        &:nth-of-type(6) .icon{
                background-position: -186px 0
        }
    }
}
.feature{
    background: url(img/feature_bg.jpg) no-repeat;
    width:100%;
    height:750px;
    h1{
        color:#333;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size:30px;
        margin-bottom: 30px;
        text-transform: uppercase
    }
    h2{
        color:#333;
        font-family: 'Kaushan Script', cursive;
        text-align: center;
        font-size:24px
    }
    .ipad{
        background:url(img/ipad.png) no-repeat;
        background-size: 427px;
        margin: 0 auto;
        width:477px;
        height:582px;
    }
    .iphone{
        background:url(img/iphone.png) no-repeat;
        background-size: 250px;
        width:215px;
        height:400px;
        position:absolute;
        top:405px;
        left:700px;
    }
}
.service_block2{
     h1{
        color:#333;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size:30px;
        margin-bottom: 30px;
        text-transform: uppercase
    }
    h2{
        color:#333;
        font-family: 'Kaushan Script', cursive;
        text-align: center;
        font-size:24px
    }
    p.text{
        color:@color-text;
        font-family: 'Roboto', sans-serif;
        font-size:15px;
        text-align:center;
    }
    .img{
        float:left;
    }
    .content{
        margin-top:80px;
        .sliders{
            margin-left:20px;
            float:left;
            .slider{
                width:590px;
                border-top:1px solid #e5e5e5;
                h3{
                    text-transform: uppercase;
                    cursor:pointer;
                    outline: none;
                    font-family: 'Montserrat', sans-serif;
                    color:#333;
                    font-size:14px;
                    line-height: 25px;
                    &::-webkit-details-marker { display:none; }
                    &::details-marker { display:none; }
                }
                .icon{
                    background:url(img/icons_service2.png) no-repeat;
                    width:32px;
                    height:32px;
                    float:left;
                    margin:10px;
                }
                &:nth-child(1) .icon{
                    background-position:0 0;
                }
                &:nth-child(2) .icon{
                    background-position:-32px 0;
                }
                &:nth-child(3) .icon{
                    background-position:-70px 0;
                }
                p{
                    display:none;
                    padding: 15px;
                    border-top:1px solid #e5e5e5;
                    font-family: 'Roboto', sans-serif;
                    font-size:15px;
                    color:@color-text;
                }
                &:last-child{
                    border-bottom: 1px solid #e5e5e5
                }
            }
        }
    }
}